
<!--  -->
<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <!-- <mat-drawer mode="side" opened="true"> -->
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-ad-header (toggleSidebarForMe)="sideBarToggler()"></app-ad-header>
        <!-- contenu du profil -->
    <div class="container-fluid page">


              <div class="d-flex page__box p-3 mt-2">Formation
                <div class="example-button-row">

                </div>
              </div>
              </div>
              <h2 style="color: rgb(62, 111, 202);margin-left: -500px;"> liste des formations</h2>
              <div class="page__content shadow p-3 position-relative">
                <div class="mb-2" >
                  <button mat-raised-button (click)="openDialog()"><mat-icon>add</mat-icon>
                  Ajouter</button>
                </div>
                <mat-form-field appearance="standard">
                  <mat-label>Filter</mat-label>
                  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
                </mat-form-field>
                <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Titre </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                  </ng-container>

                  <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                    <td mat-cell *matCellDef="let row"> {{row.description}} </td>
                  </ng-container>
                  <ng-container matColumnDef="prix">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Prix </th>
                    <td mat-cell *matCellDef="let row"> {{row.prix}} DT </td>
                  </ng-container>
                  <ng-container matColumnDef="lien" class="mr-2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Lien </th>
                    <td mat-cell *matCellDef="let row"> <a href="{{row.lien}} "> Lien </a> </td>
                  </ng-container>

                  <ng-container matColumnDef="date de debut">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de debut </th>
                    <td mat-cell *matCellDef="let row"> {{row.date_debut | date: 'dd/MM/yyyy'}} </td>
                  </ng-container>
                  <ng-container matColumnDef="date de fin" class="mr-2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de fin </th>
                    <td mat-cell *matCellDef="let row"> {{row.date_final | date: 'dd/MM/yyyy'}} </td>
                  </ng-container>

                   <ng-container matColumnDef="theme">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Thème </th>
                      <td mat-cell *matCellDef="let row">
                         {{row.theme?.name}}
                      </td>
                  </ng-container>

                  <ng-container matColumnDef="formateur">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Formateur </th>
                    <td mat-cell *matCellDef="let row" >
                      {{row.formatter?.userName}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let row">

                      <button mat-icon-button color="primary" (click)="updateFormation(row)"><mat-icon>edit</mat-icon></button>
                      <button mat-icon-button color="warn" (click)="deleteFormation(row.id)"><mat-icon>delete</mat-icon></button>

                    </ng-container>



                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                               showFirstLastButtons
                               aria-label="Select page of periodic elements">
                </mat-paginator>
              </div>






          <!-- </div> -->
			          <!-- <button mat-raised-button  routerLink="create-formation" routerLinkActive="active"  class="btn btn-primary mt-2"  ><mat-icon>add</mat-icon>
                </button> -->
                <!-- Smart table view -->
                 <!-- <ng2-smart-table
                [settings]="settings"
                [source]="formations"
                (custom)="onCustomAction($event)"
                ></ng2-smart-table> -->

                <!-- card view -->
                <!-- <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
                  <div class="col " *ngFor="let formation of formations">
                    <div class="card h-100 border-light mb-3" style="max-width: 18rem;">
                      <img src="./../../../assets/edu.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">{{formation.name}}</h5>
                        <p class="card-text">{{formation.description}}</p>
                        <button type="button" (click) = "updateFormation(formation.id)"  class="btn btn-secondary"><i class ="fa-solid fa-pen"></i></button>
                        <button type="button" (click) = "deleteFormation(row.id)"  class="btn btn-danger"><i class="fa-solid fa-trash-can" ></i></button>
                        <button type="button" (click) = "formationDetails(formation.id)"  class="btn btn-info"><i class="fa-solid fa-eye" ></i></button>
                      </div>
                    </div>
                  </div>

                </div>-->
              <!-- </div> -->

              <!-- <table class = "table table-striped">

                  <thead>
                      <tr>
                          <th > UserName</th>
                          <th > FirstName</th>
                          <th> LastName </th>
                          <th> Email </th>
                          <th> Actions </th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor = "let formatter of formatters" >
                          <td> {{ formatter.userName }} </td>
                          <td> {{ formatter.userFirstName }} </td>
                          <td> {{ formatter.userLastName }} </td>
                          <td> {{ formatter.email }} </td>
                          <td>
                              <button (click) = "updateFormatter(formatter.id)" class = "btn btn-info"> Modifié</button>
                              <button (click) = "deleteFormatter(formatter.id)" class = "btn btn-danger" style="margin-left: 10px"> Supprimer</button>
                              <button (click) = "formatterDetails(formatter.id)" class = "btn btn-info" style="margin-left: 10px"> Détails</button>
                          </td>
                      </tr>
                  </tbody>
              </table> -->

            <div>

          </div>




  </mat-drawer-content>
</mat-drawer-container>

