
<!--  -->

<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <!-- <mat-drawer mode="side" opened="true"> -->
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-ad-header (toggleSidebarForMe)="sideBarToggler()"></app-ad-header>
        <!-- contenu du profil -->
        <div class="container-fluid page">
          <div class="d-flex page__box p-3 mt-2">Formateur

          </div>
          </div>
    <div class="page__content shadow p-3 position-relative">
          <!-- créer formateur -->

        <div class="container">
          <div class="myCard">
            <div class="row">
              <div >
                <div class="myLeftCtn">
                  <form class="myForm " (ngSubmit) = "onSubmit()">
                    <header>Créer un formateur</header>
                        <div class="row clearfix">
                          <div class="col_half">
                            <label style="margin-left: 25px;">Pseudo</label>
                            <div class="form-group">
                              <i aria-hidden="true" class="fas fa fa-user"></i>
                              <input type="text" class =" myInput" id = "userName"
                              [(ngModel)] = "formatter.userName" name = "userName"
                              required #userName="ngModel"
                              [class.is-invalid]="userName.invalid && userName.touched">
                              <small class="text-danger" [class.d-none]="userName.valid || userName.untouched">Ce champ est nécessaire</small>
                            </div>
                          </div>

                          <div class="col_half">
                            <label style="margin-left: 25px;">Nom</label>
                            <div class="input_field">
                              <i aria-hidden="true" class="fas fa fa-user"></i>
                              <input type="text" class =" myInput" id = "firstName"
                              [(ngModel)] = "formatter.userFirstName" name = "firstName"
                              required #Name="ngModel"
                              [class.is-invalid]="Name.invalid && Name.touched">
                              <small class="text-danger" [class.d-none]="Name.valid || Name.untouched">Ce champ est nécessaire</small>
                            </div>
                          </div>
                        </div>
                        <div class="row clearfix">
                          <div class="col_half">
                            <label style="margin-left: 25px;">Prénom</label>
                            <div class="input_field">
                              <i aria-hidden="true" class="fas fa fa-user"></i>
                              <input type="text" class =" myInput" id = "lastName"
                              [(ngModel)] = "formatter.userLastName" name = "lastName"
                              required #lName="ngModel"
                              [class.is-invalid]="lName.invalid && lName.touched">
                              <small class="text-danger" [class.d-none]="lName.valid || lName.untouched">Ce champ est nécessaire</small>
                            </div>
                          </div>



                          <div class="col_half">
                            <label style="margin-left: 25px;">Téléphone</label>
                            <div class="input_field">
                              <i aria-hidden="true" class="fas fa fa-phone"></i>
                              <input type="text" class =" myInput" id = "phone"
                              [(ngModel)] = "formatter.phone" name = "phone"
                              required #phone="ngModel"
                              [class.is-invalid]="phone.invalid && phone.touched" pattern="[0-9]{8}" maxlength="8">
                              <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Ce champ est nécessaire</small>
                            </div>
                          </div>
                        </div>

                        <div class="row clearfix">

                          <div class="col_half">
                            <label style="margin-left: 25px;">Email</label>
                            <div class="input_field">
                              <i aria-hidden="true" class="fas fa fa-envelope"></i>
                              <input type="email" class =" myInput" id = "email"
                              [(ngModel)] = "formatter.email" name = "email"
                              required #email="ngModel"
                              [class.is-invalid]="email.invalid && email.touched" >
                              <small class="text-danger" [class.d-none]="email.valid || email.untouched">Ce champ est nécessaire</small>
                            </div>
                          </div>
                          <div class="col_half">
                            <label style="margin-left: 25px;">Mot de passe</label>
                            <div class="input_field">
                              <i aria-hidden="true" class="fas fa fa-lock"></i>
                              <input type="password" class ="myInput" id = "userPassword"
                              [(ngModel)] = "formatter.userPassword" name = "userPassword"
                              required #pass="ngModel"
                              [class.is-invalid]="pass.invalid && pass.touched">
                              <small class="text-danger mt-2" [class.d-none]="pass.valid || pass.untouched">Ce champ est nécessaire</small>
                            </div>
                          </div>


                        </div>

                        <input type="submit" class="butt" value="Enregistrer">
                      </form>
                </div>
              </div>
            </div>

      </div>
        </div>

    </div>
  </mat-drawer-content>
</mat-drawer-container>









