
  <!--  -->
  <mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
      <!-- <mat-drawer mode="side" opened="true"> -->
      <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer-content>
      <app-ad-header (toggleSidebarForMe)="sideBarToggler()"></app-ad-header>
          <!-- contenu du profil -->
      <div class="container-fluid page">
        <div class="d-flex page__box p-3 mt-2">Formatter</div>
            <div class="page__content shadow p-3 position-relative">
              <!-- <div class="page__content-data position-absolute text-center">
                <div class="col-md-6 offset-md-3"> -->
                  <h3 style="color: rgb(62, 111, 202);margin-left: -500px; font-weight: 600;font-size: 2rem;"> Modifié Formatteur </h3>

                  <div class="tab-pane" id="edit">
                    <form (ngSubmit) = "onSubmit()">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label" style="color:black;">Pseudo</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value={{formatter.userName}} id = "userName"
                                [(ngModel)] = "formatter.userName" name = "userName">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"style="color:black;">Nom</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value={{formatter.userFirstName}} id = "userFirstName"
                                [(ngModel)] = "formatter.userFirstName" name = "userFirstName">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"style="color:black;">Prénom</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value={{formatter.userLastName}} id = "userLastName"
                                [(ngModel)] = "formatter.userLastName" name = "userLastName">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"style="color:black;">Email</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="email" value={{formatter.email}} id = "email"
                                [(ngModel)] = "formatter.email" name = "email"
                                pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' >
                                >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"style="color:black;">image de profil</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="file">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"style="color:black;">Address</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value={{formatter.adresse}} id = "adresse"
                                [(ngModel)] = "formatter.adresse" name = "adresse">
                            </div>
                        </div>
                       <!--  <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-6">
                                <input class="form-control" type="text" value="" placeholder="City">
                            </div>
                            <div class="col-lg-3">
                                <input class="form-control" type="text" value="" placeholder="State">
                            </div>
                        </div> -->


                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"style="color:black;">Mot de passe</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="password" value="{{formatter.userPassword}}" value={{formatter.userPassword}} id = "userPassword"
                                [(ngModel)] = "formatter.userPassword" name = "userPassword"
                                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
                                >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"style="color:black;">Confirmé mot de passe</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="password" value={{formatter.userConfirmPassword}}  id = "userConfirmPassword"
                                [(ngModel)] = "formatter.userConfirmPassword" name = "userConfirmPassword"
                                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
                                >
                                <!-- <div *ngIf="f.confirmPassword.errors.mustMatch">mot de passe et confirmé mot de passe ne pas correspondant</div> -->

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <input type="reset" class="btn btn-secondary" value="Annuler">
                                <input type="submit" class="btn btn-primary ml-2" value="Enregistrer">
                            </div>
                        </div>
                    </form>
                </div>
                </div>

              <div>

            <!-- </div>

          </div> -->
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  <!--  -->

 <!-- <form (ngSubmit) = "onSubmit()">

                    <div class="form-group">
                          <label> Pseudo</label>
                          <input type="text" class ="form-control mt-2" id = "userName"
                              [(ngModel)] = "formatter.userName" name = "userName"
                              required #userName="ngModel"
                             [class.is-invalid]="userName.invalid && userName.touched">
                             <small class="text-danger" [class.d-none]="userName.valid || userName.untouched">Ce champ est nécessaire</small>

                      </div>
                      <div class="form-group mt-2">
                          <label> Nom</label>
                          <input type="text" class ="form-control mt-2 " id = "userFirstName"
                              [(ngModel)] = "formatter.userFirstName" name = "userFirstName"
                              required #Name="ngModel"
                            [class.is-invalid]="Name.invalid && Name.touched">
                            <small class="text-danger" [class.d-none]="Name.valid || Name.untouched">Ce champ est nécessaire</small>

                      </div>

                      <div class="form-group mt-2">
                          <label> Prénom</label>
                          <input type="text" class ="form-control mt-2" id = "userLastName"
                              [(ngModel)] = "formatter.userLastName" name = "userLastName"
                              required #lName="ngModel"
                              [class.is-invalid]="lName.invalid && lName.touched">
                              <small class="text-danger" [class.d-none]="lName.valid || lName.untouched">Ce champ est nécessaire</small>

                      </div>

                      <div class="form-group mt-2">
                          <label> Email </label>
                          <input type="email" class ="form-control mt-2" id = "email"
                              [(ngModel)] = "formatter.email" name = "email"
                              required #mail="ngModel"
                            [class.is-invalid]="mail.invalid && mail.touched">
                            <small class="text-danger" [class.d-none]="mail.valid || mail.untouched">Ce champ est nécessaire</small>

                      </div>

                      <button class = "btn btn-success" type ="submit">Enregistrer</button>

                  </form> -->
