<header class=" header a2 a3 a4 a5 a6 a7 a8 a9">
  <div class="aa">
    <div class="a8 ab[-16px] a9 ac ad">
      <div class="ae af ag">
        <a href="#" class="a7 ah ai header-logo">
          <img src="./../../assets/CNI(1).png" alt="logo" class="a7 dark:aj" id="logo"/>
        </a>
      </div>
      <div class="a8 ae ac a9 a7">
        <div>
          <button id="navbarToggler" aria-label="Mobile Menu" class="ah a3 ak al/2 am[-50%] lg:aj focus:an ao ap aq[6px] ar">
            <span class="ad as[30px] at[2px] au[6px] ah av dark:aw"></span>
            <span class="ad as[30px] at[2px] au[6px] ah av dark:aw"></span>
            <span class="ad as[30px] at[2px] au[6px] ah av dark:aw"></span>
          </button>
          <nav id="navbarCollapse" class="a3 ax lg:ay lg:ae xl:az aw dark:av lg:dark:a2 lg:a2 aA ar aB[250px] a7 lg:ag lg:a7 ak aC aj lg:ah lg:aD lg:aE">
            <ul class="aF lg:a8">
              <li class="ad aG">
                <a [routerLink]="['/home']" class="menu-scroll aH text-dark dark:aI group-hover:aJ aK lg:aL lg:aM lg:aN a8 aO lg:aP">
                  Accueil
                </a>
              </li>
              <li class="ad aG">
                <a href="#services" class="menu-scroll aH text-dark dark:aI group-hover:aJ aK lg:aL lg:aM lg:aN a8 aO lg:aP lg:aQ xl:aR">
                  Services
                </a>
              </li>

              <li class="ad aG">
                <a href="#contact" class="menu-scroll aH text-dark dark:aI group-hover:aJ aK lg:aL lg:aM lg:aN a8 aO lg:aP lg:aQ xl:aR">
                  Support
                </a>
              </li>
			  <li class="ad aG">
                <a [routerLink]="['/login']"  class="menu-scroll aH text-dark dark:aI group-hover:aJ aK lg:aL lg:aM lg:aN a8 aO lg:aP lg:aQ xl:aR" >
                  Connexion
                </a>
              </li>

            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
