<div class="page__content shadow p-3 position-relative">
  <!-- créer thème -->

   <h1 mat-dialog-title>Ajouter une formation</h1>
  <div mat-dialog-content>
      <form [formGroup]="formationForm">
          <mat-form-field appearance="outline">
              <mat-label>Titre</mat-label>
              <input formControlName="name" id="name" name="name" matInput placeholder="Titre"/>
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>Description</mat-label>
              <input formControlName="description" id="description" name="description" matInput placeholder="description"/>
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>Prix</mat-label>
              <input formControlName="prix" id="prix" name="prix" matInput placeholder="prix"/>
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>Lien</mat-label>
              <input formControlName="lien" id="lien" name="lien" matInput placeholder="Lien"/>
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>Date de début</mat-label>
              <input matInput type="date" formControlName="date_debut" id="date_debut" name="date_debut"  placeholder="date"/>
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>Date de fin</mat-label>
              <input matInput type="date" formControlName="date_final" id="date_final" name="date_final"  placeholder="date"/>
          </mat-form-field>

           <mat-form-field appearance="outline">
              <mat-label>Thème du formation</mat-label>
                   <mat-select formControlName="theme" name="theme">
                  <mat-option *ngFor="let theme of themes" [value]="theme.id" >
                      {{theme.name}}
                  </mat-option>
              </mat-select>
              <!-- <mat-select (change)="selectedTheme($event.target.value)" id="theme"   name = "theme" formControlName="theme" multiple>
                <mat-option *ngFor="let theme of themes" [value]="theme"
                [attr.data-themeid] = "theme.id">
                {{theme.name}}
              </mat-option>
              </mat-select>-->
            </mat-form-field>

           <mat-form-field appearance="outline">
              <mat-label>Selectionner un formateur</mat-label>
                   <mat-select formControlName="formatter" name="formatter">
                  <mat-option *ngFor="let formatter of formatters" [value]="formatter.id">
                      {{formatter.userName}}

                  </mat-option>
              </mat-select>
              <!-- <mat-select (change)="selectedFormatter($event.target.value)" id="formatter"  formControlName="formatter"  name = "formatter" multiple>
                <mat-option *ngFor="let formatter of formatters" [value]="formatter.id"
                [attr.data-formid] = "formatter.id">
                  {{formatter.userName}}
                </mat-option>
              </mat-select>-->
            </mat-form-field>


      </form>
  </div>
  <div mat-dialog-actions [align]="'end'">
      <button mat-raised-button color="warn" mat-dialog-close>Annuler</button>
      <button style="margin-left: 8px;" mat-raised-button color="primary" mat-dialog-close (click)="addFormation()">{{actionBtn}}</button>
  </div>






<!--  -->

<!-- <mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen"> -->
    <!-- <mat-drawer mode="side" opened="true"> -->
    <!-- <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-ad-header (toggleSidebarForMe)="sideBarToggler()"></app-ad-header> -->
        <!-- contenu du profil -->
        <!-- <div class="container-fluid page">
          <div class="d-flex page__box p-3 mt-2">Formation

          </div>
          </div>
    <div class="page__content shadow p-3 position-relative"> -->
          <!-- créer formateur -->

        <!-- <div class="container">
          <div class="myCard">
            <div class="row">
              <div >
                <div class="myLeftCtn">
                  <form class="myForm " (ngSubmit) = "onSubmit()" >
                    <header >Créer  formation</header>
                        <div class="row clearfix">
                          <div class="col_half">
                            <label style="margin-left: 25px;">Nom</label>
                            <div class="form-group">
                              <i aria-hidden="true" class="fas fa fa-envelope"></i>
                              <input type="text" class ="myInput" id = "name"
                              [(ngModel)] = "formation.name" name = "name"
                              required #Name="ngModel"
                              [class.is-invalid]="Name.invalid && Name.touched">
                              <small class="text-danger" [class.d-none]="Name.valid || Name.untouched">Ce champ est nécessaire</small>
                            </div>
                          </div>

                          <div class="col_half">
                            <label style="margin-left: 25px;">Déscription</label>
                            <div class="input_field">
                              <i aria-hidden="true" class="fas fa fa-envelope"></i>
                              <input  type="text" class ="myInput" id = "description"
                        [(ngModel)] = "formation.description" name = "description"
                        required #Desc="ngModel"
                        [class.is-invalid]="Desc.invalid && Desc.touched">
                        <small class="text-danger" [class.d-none]="Desc.valid || Desc.untouched">Ce champ est nécessaire</small>
                            </div>
                          </div>
                        </div>
                        <div class="row clearfix">
                          <div class="col_half">
                            <label style="margin-left: 25px;">Lien</label>
                            <div class="input_field">
                              <i aria-hidden="true" class="fas fa fa-link"></i>
                              <input  type="url" class ="myInput" id = "lien"
                              [(ngModel)] = "formation.lien" name = "lien"
                              required #lien="ngModel"
                              [class.is-invalid]="lien.invalid && lien.touched">
                              <small class="text-danger" [class.d-none]="lien.valid || lien.untouched">Ce champ est nécessaire</small>
                            </div>
                          </div>
                          <div class="col_half">
                            <mat-form-field >
                              <mat-label>Thèmes</mat-label>
                              <mat-select (change)="selectedTheme($event.target.value)" id="theme" class ="myInput"  [(ngModel)] = "Themes" name = "theme" multiple>
                                <mat-option *ngFor="let theme of themes" [value]="theme"
                                [attr.data-themeid] = "theme.id">
                                {{theme.name}}
                              </mat-option>
                              </mat-select>
                            </mat-form-field>

                          </div>

                        </div> -->
                        <!-- make color input with multiple choice -->


                        <!-- <div class="row clearfix">
                          <div class="col_half">
                            <mat-form-field >
                              <mat-label>Date de début </mat-label>
                              <input matInput [matDatepicker]="date_debut" class ="myInput"
                              id = "date_debut"
                               name = "date_debut" [(ngModel)] = "formation.date_debut" required
                              >
                              <mat-datepicker-toggle matSuffix [for]="date_debut"></mat-datepicker-toggle>
                              <mat-datepicker #date_debut></mat-datepicker>
                            </mat-form-field>
                          </div>

                          <div class="col_half">
                            <mat-form-field >
                              <mat-label>Date de fin</mat-label>
                              <input matInput [matDatepicker]="date_final" class ="myInput"
                              id = "date_final"
                               name = "date_final" [(ngModel)] = "formation.date_final" required
                              >
                              <mat-datepicker-toggle matSuffix [for]="date_final"></mat-datepicker-toggle>
                              <mat-datepicker #date_final></mat-datepicker>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row clearfix">

                          <div class="col_half">
                            <mat-form-field >
                              <mat-label>Formatteur</mat-label>
                              <mat-select (change)="selectedFormatter($event.target.value)" id="formatter" class ="myInput"  [(ngModel)] = "Formatters" name = "formatter" multiple>
                                <mat-option *ngFor="let formatter of formatters" [value]="formatter.id"
                                [attr.data-formid] = "formatter.id">
                                  {{formatter.userName}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>

                        <input type="submit" class="butt" value="Enregistrer">
                      </form>
                </div>
              </div>
            </div>

      </div>
        </div>

    </div>
  </mat-drawer-content>
</mat-drawer-container> -->













  <!--  -->


 <!-- <mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">

      <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer-content>
      <app-ad-header (toggleSidebarForMe)="sideBarToggler()"></app-ad-header>

      <div class="container-fluid page">
        <div class="d-flex page__box p-3 mt-2">Dashboard</div>
            <div class="page__content shadow p-3 position-relative">
              <div class="page__content-data position-absolute text-center">


          <div class="col-md-6 offset-md-3">
            <h3 style="color: rgb(62, 111, 202);margin-left: -500px; font-weight: 600;font-size: 2rem;"> Créer Formation </h3>
            <form (ngSubmit) = "onSubmit()">

                <div class="form-group">
                    <label> Nom </label>
                    <input type="text" class ="form-control" id = "name"
                        [(ngModel)] = "formation.name" name = "name"
                        required #Name="ngModel"
                        [class.is-invalid]="Name.invalid && Name.touched">
                        <small class="text-danger" [class.d-none]="Name.valid || Name.untouched">Ce champ est nécessaire</small>

                </div>

                <div class="form-group">
                    <label> Description</label>
                    <input type="text" class ="form-control" id = "description"
                        [(ngModel)] = "formation.description" name = "description"
                        required #Desc="ngModel"
                        [class.is-invalid]="Desc.invalid && Desc.touched">
                        <small class="text-danger" [class.d-none]="Desc.valid || Desc.untouched">Ce champ est nécessaire</small>

                </div>
                <div class="form-group">
                    <label> Theme</label>
                    <!-- <input type="text" class ="form-control" id = "theme"
                        [(ngModel)] = "formation.theme" name = "theme"
                        required #theme="ngModel"
                        [class.is-invalid]="theme.invalid && theme.touched"> -->

                        <!-- <mat-form-field appearance="fill">
                          <mat-label>Toppings</mat-label>
                          <mat-select [formControl]="toppings" multiple>
                            <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                          </mat-select>
                        </mat-form-field> -->
                    <!--    <mbsc-select
                            [data]="themes"
                            [touchUi]="false">
                        </mbsc-select>
                         <small class="text-danger" [class.d-none]="theme.valid || theme.untouched">Ce champ est nécessaire</small>

                </div>
                <div class="form-group">
                    <label> Lien</label>
                    <input type="url" class ="form-control" id = "lien"
                        [(ngModel)] = "formation.lien" name = "lien"
                        required #lien="ngModel"
                        [class.is-invalid]="lien.invalid && lien.touched">
                        <small class="text-danger" [class.d-none]="lien.valid || lien.untouched">Ce champ est nécessaire</small>

                </div>
                <div class="form-group mt-2" style="margin-left: -70px;">
                    <!-- <label> Date finale</label>
                    <input type="date" class ="form-control" id = "date_final"
                        [(ngModel)] = "formation.date_final" name = "date_final"
                        required #date_final="ngModel"
                        [class.is-invalid]="date_final.invalid && date_final.touched"> -->

                       <!-- <mat-form-field appearance="fill">
                          <mat-label>Date finale</mat-label>
                          <input matInput [matDatepicker]="date_final" class ="form-control"
                          id = "date_final"
                           name = "date_final" [(ngModel)] = "formation.date_final" required
                          >
                          <mat-datepicker-toggle matSuffix [for]="date_final"></mat-datepicker-toggle>
                          <mat-datepicker #date_final></mat-datepicker>
                        </mat-form-field>
                        <!-- <small class="text-danger" [class.d-none]="date_final.valid || date_final.untouched">Ce champ est nécessaire</small>

                </div>



                <button class = "btn btn-success mt-2" type ="submit">Submit</button>

            </form>
            </div>
              <div>

            </div>

          </div>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>-->

