<!--  -->
<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <!-- <mat-drawer mode="side" opened="true"> -->
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-ad-header (toggleSidebarForMe)="sideBarToggler()"></app-ad-header>
        <!-- contenu du profil -->
    <div class="container-fluid page">


              <div class="d-flex page__box p-3 mt-2">Théme
                <div class="example-button-row">
                  
                </div>
              </div>
              </div>
              <h2 style="color: rgb(62, 111, 202);margin-left: -500px;"> liste des formatteurs</h2>
              <div class="page__content shadow p-3 position-relative">
			  <button mat-raised-button  routerLink="create-theme" routerLinkActive="active"  class="btn btn-primary mt-2"  style="margin: 0 0 0px 950px; width: auto; padding-top:10px;"><mat-icon>add</mat-icon>
                  </button>
                <ng2-smart-table [settings]="settings" [source]="themes"></ng2-smart-table>
              </div>

              <!-- <table class = "table table-striped">

                  <thead>
                      <tr>
                          <th > UserName</th>
                          <th > FirstName</th>
                          <th> LastName </th>
                          <th> Email </th>
                          <th> Actions </th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor = "let formatter of formatters" >
                          <td> {{ formatter.userName }} </td>
                          <td> {{ formatter.userFirstName }} </td>
                          <td> {{ formatter.userLastName }} </td>
                          <td> {{ formatter.email }} </td>
                          <td>
                              <button (click) = "updateFormatter(formatter.id)" class = "btn btn-info"> Modifié</button>
                              <button (click) = "deleteFormatter(formatter.id)" class = "btn btn-danger" style="margin-left: 10px"> Supprimer</button>
                              <button (click) = "formatterDetails(formatter.id)" class = "btn btn-info" style="margin-left: 10px"> Détails</button>
                          </td>
                      </tr>
                  </tbody>
              </table> -->

            <div>

          </div>




  </mat-drawer-content>
</mat-drawer-container>